table {
  border-top: 0px solid black;
  border-right: 1px solid black;
  border-left: 0px;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 50px;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
}

.schedule {
  border: 0px;
  text-align: right;
}

.break {
  background-color: #959595;
  color: white;
}

.conf {
  background-color: #f44502;
  color: white;
}

.rex {
  background-color: #4f993f;
  color: white;
}

.workshop {
  background-color: #8a2803;
  color: white;
}

.quicky {
  background-color: #6ec65f;
  color: white;
}
