@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57052943');
  src: url('../font/fontello.eot?57052943#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?57052943') format('woff2'),
       url('../font/fontello.woff?57052943') format('woff'),
       url('../font/fontello.ttf?57052943') format('truetype'),
       url('../font/fontello.svg?57052943#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'logo';
    src: url('../font/logo.eot');
    src: url('../font/logo.eot?#iefix') format('embedded-opentype'),
         url('../font/logo.woff2') format('woff2'),
         url('../font/logo.woff') format('woff'),
         url('../font/logo.ttf') format('truetype'),
         url('../font/logo.svg#logo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before { content: '\e800';font-family: "fontello";} 
.icon-star:before { content: '\e801';font-family: "fontello";}
.icon-tag:before { content: '\e802';font-family: "fontello";}
.icon-arrows-cw:before { content: '\e803';font-family: "fontello";}
.icon-clock:before { content: '\e804';font-family: "fontello";}
.icon-megaphone:before { content: '\e805';font-family: "fontello";}
.icon-gauge:before { content: '\e806';font-family: "fontello";}
.icon-location:before { content: '\f031';font-family: "fontello";}
.icon-beaker:before { content: '\f0c3';font-family: "fontello";}
.icon-menu:before { content: '\f0c9';font-family: "fontello";}
.icon-mic:before { content: '\f130';font-family: "fontello";}
.icon-thumbs-up-alt:before { content: '\f164';font-family: "fontello";}
.icon-graduation-cap:before { content: '\f19d';font-family: "fontello";}

.icon-x:before{content:'\0041';font-family: "logo";}
.icon-facebook:before{content:'\0042';font-family: "logo";}
.icon-instagram:before{content:'\0043';font-family: "logo";}
.icon-bluesky:before{content:'\0044';font-family: "logo";}
.icon-github:before{content:'\0045';font-family: "logo";}
.icon-rss:before{content:'\0046';font-family: "logo";}
.icon-youtube:before{content:'\0047';font-family: "logo";}
.icon-twitter:before{content:'\0049';font-family: "logo";}
.icon-linkedin:before{content:'\0048';font-family: "logo";}
