---
layout: default
title: Volcamp 2020
---
    
<section class="block">
    <div class="content">
        <section class="section-banner d-flex align-items-center" style="background:url(https://www.volcamp.io/asset/images/bg-banner.png) no-repeat center top #6fc660">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mr-auto">
                        <div class="banner-content"><span>jeudi 14 et vendredi 15 octobre 2021</span>
                            <h1 class="mt-3 mb-5">Volcamp</h1>
                            <span>Première conférence tech<br>au cœur des volcans d'Auvergne</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden counter-wrapper pt-4 pb-5">
            <div class="container">
                <div class="counter-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="counter-stat">
                                <h2 class="font-weight-light"><strong>Votre conférence</strong><br>démarre dans</h2>
                            </div>
                        </div>
                        <div id="simple-timer" class="syotimer" data-year="2021" data-month="10" data-day="14" data-hour="09">
                            <div class="syotimer__head"></div>
                            <div class="syotimer__body"></div>
                            <div class="syotimer__footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-8">
                        <div class="heading">
                            <div class="pl-90">
                                <p>C'est avec un immense regret que nous faisons le choix de reporter notre premier événement en 2021.</p>
                                <p>Nous souhaitons remercier l'ensemble de nos sponsors et de nos partenaires qui ont soutenus dans cette édition 2020 mais également l'ensemble des speakers ayant participés à notre CFP.</p>
                                <p>Tous ensemble nous remettrons toute cette energie pour l'édition des 14 et 15 octobre 2021.</p>
                                <p>2020 aurait pu être cela <a href="https://2020.volcamp.io/">https://2020.volcamp.io/</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row section-heading">
                    <div class="col-lg-8">
                        <div class="heading">
                            <div class="pl-90">
                                <h2 class="text">Ils nous on soutenus en 2020 !</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-12">
                        {% for sponsor in site.data.sponsors.gold %}
                        <div class="client-item-color"><a href="{{ sponsor.url }}" target="_blank"><img src="{{ site.baseurl }}/asset/images/logo/{{ sponsor.logo }}.png" alt="{{ sponsor.name }}" class="img-fluid"></a></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-12">
                        {% for sponsor in site.data.sponsors.silver %}
                        <div class="client-item-color"><a href="{{ sponsor.url }}" target="_blank"><img src="{{ site.baseurl }}/asset/images/logo/{{ sponsor.logo }}.png" alt="{{ sponsor.name }}" class="img-fluid"></a></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-12">
                        {% for sponsor in site.data.sponsors.bronze %}
                        <div class="client-item-color"><a href="{{ sponsor.url }}" target="_blank"><img src="{{ site.baseurl }}/asset/images/logo/{{ sponsor.logo }}.png" alt="{{ sponsor.name }}" class="img-fluid"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>