<section class="section">
    <div class="container">
        <div class="row section-heading">
            <div class="col-lg-12">
                <div class="heading">
                    <div class="pl-90">
                        <h2>mercredi 23 juin 2021</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table style="width:100%">
                <colgroup>
                    <col class="csched">
                    <col class="ctrack1">
                    <col class="ctrack2">
                    <col class="ctrack3">
                </colgroup>
                <tr>
                    <td class="schedule">08h00</td>
                    <td class="break ptidej" colspan="3"><h3>Petit dej</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 08:00 - 09:00</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">09h00</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1k1" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">09h15</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1k2" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">10h15</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1s1" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">11h15</td>
                    <td class="break pause" colspan="3"><h3>Pause</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 11:15 - 11:30</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">11h30</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1s2" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">12h30</td>
                    <td class="break dej" colspan="3"><h3>Pause déjeuner & Lightning</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 12:30 - 13:30</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">12h45</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1s3" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">13h00</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1s4" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">13h15</td>
                    <td class="break pause" colspan="3"><h3>Pause</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 13:15 - 13:30</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">13h30</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1s5" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">14h30</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1s6" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">15h30</td>
                    <td class="break pause" colspan="3"><h3>Pause</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 15:30 - 15:45</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">15h45</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d1t1s7" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="row legende justify-content-center">
            <div class="legend_item"><span class="theme_key bullet"></span><span>Plénière</span></div>
            <div class="legend_item"><span class="theme_lang bullet"></span><span>Lang. & Frameworks</span></div>
            <div class="legend_item"><span class="theme_big bullet"></span><span>BigData & AI</span></div>
            <div class="legend_item"><span class="theme_web bullet"></span><span>Web & Mobile</span></div>
            <div class="legend_item"><span class="theme_archi bullet"></span><span>Archi, Perf et Sécu</span></div>
            <div class="legend_item"><span class="theme_devops bullet"></span><span>DevOps & Cloud</span></div>
            <div class="legend_item"><span class="theme_ux bullet"></span><span>UX/UI</span></div>
            <div class="legend_item"><span class="theme_decouv bullet"></span><span>Découverte</span></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row section-heading">
            <div class="col-lg-12">
                <div class="heading">
                    <div class="pl-90">
                        <h2>Jeudi 24 juin</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table style="width:100%">
                <colgroup>
                    <col class="csched">
                    <col class="ctrack1">
                    <col class="ctrack2">
                    <col class="ctrack3">
                </colgroup>
                <tr>
                    <td class="schedule">08h30</td>
                    <td class="break ptidej" colspan="3"><h3>Petit dej</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 08:30 - 09:00</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">09h00</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1k1" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">09h15</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1k2" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">10h15</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s1" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">11h15</td>
                    <td class="break pause" colspan="3"><h3>Pause</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 11:15 - 11:30</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">11h30</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s2" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">12h30</td>
                    <td class="break dej" colspan="3"><h3>Pause déjeuner & Lightning</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 12:30 - 13:30</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">12h45</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s3" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">13h00</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s4" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">13h15</td>
                    <td class="break pause" colspan="3"><h3>Pause</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 13:15 - 13:30</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">13h30</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s5" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">14h30</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s6" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">15h30</td>
                    <td class="break pause" colspan="3"><h3>Pause</h3>
                        <div class="slot_info">
                            <ul>
                                <li><i class="icon-clock"></i> 15:30 - 15:45</li>
                            </ul>
                        </div></td>
                </tr>
                <tr>
                    <td class="schedule">15h45</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s7" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
                <tr>
                    <td class="schedule">16h45</td>
                    <td colspan="3">
                        {% assign talk = site.talks | where: "name", "21d2t1s8" | first %}
                        {% include insert_calendar_cel.html %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="row legende justify-content-center">
            <div class="legend_item"><span class="theme_key bullet"></span><span>Plénière</span></div>
            <div class="legend_item"><span class="theme_lang bullet"></span><span>Lang. & Frameworks</span></div>
            <div class="legend_item"><span class="theme_big bullet"></span><span>BigData & AI</span></div>
            <div class="legend_item"><span class="theme_web bullet"></span><span>Web & Mobile</span></div>
            <div class="legend_item"><span class="theme_archi bullet"></span><span>Archi, Perf et Sécu</span></div>
            <div class="legend_item"><span class="theme_devops bullet"></span><span>DevOps & Cloud</span></div>
            <div class="legend_item"><span class="theme_ux bullet"></span><span>UX/UI</span></div>
            <div class="legend_item"><span class="theme_decouv bullet"></span><span>Découverte</span></div>
        </div>
    </div>
</section>