<section class="section">
    <div class="container">
        <div class="row section-heading">
            <div class="col-lg-8">
                <div class="heading">
                    <div class="pl-90">
                        <h2>Jeudi 15 octobre 2020</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table style="width:100%">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 30%;">
                    <col style="width: 30%;">
                    <col style="width: 30%;">
                </colgroup>
                <tr>
                    <th class="schedule"></th>
                    <th>Auditorium</th>
                    <th>Mezzanine</th>
                    <th>Showroom</th>
                </tr>
                <tr>
                    <td class="schedule">8h00</td>
                    <td class="break" colspan="3">Accueil Caf&eacute;</td>
                </tr>
                <tr>
                    <td class="schedule">8h45</td>
                    <td colspan="3" class="conf">Intro</td>
                </tr>
                <tr>
                    <td class="schedule">9h15</td>
                    <td colspan="3" class="conf">Keynote</td>
                </tr>
                <tr>
                    <td class="schedule">10h00</td>
                    <td class="break" colspan="3">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">10h15</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                    <td class="workshop" rowspan="3">Workshop</td>
                </tr>
                <tr>
                    <td class="schedule">11h00</td>
                    <td class="break" colspan="2">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">11h15</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                </tr>
                <tr>
                    <td class="schedule"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="schedule">12h00</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                </tr>
                <tr>
                    <td class="schedule">12h15</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                </tr>
                <tr>
                    <td class="schedule"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="schedule">13h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                    <td class="workshop" rowspan="3">Workshop</td>
                </tr>
                <tr>
                    <td class="schedule">13h45</td>
                    <td class="break" colspan="2">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">14h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                </tr>
                <tr>
                    <td class="schedule">14h45</td>
                    <td class="break" colspan="3">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">15h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                    <td class="workshop" rowspan="3">Workshop</td>
                </tr>
                <tr>
                    <td class="schedule">15h45</td>
                    <td class="break" colspan="2">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">16h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                </tr>
                <tr>
                    <td class="schedule">16h45</td>
                    <td class="break" colspan="3">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">17h15</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row section-heading">
            <div class="col-lg-8">
                <div class="heading">
                    <div class="pl-90">
                        <h2>Vendredi 16 octobre</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table style="width:100%">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 30%;">
                    <col style="width: 30%;">
                    <col style="width: 30%;">
                </colgroup>
                <tr>
                    <th class="schedule"></th>
                    <th>Auditorium</th>
                    <th>Mezzanine</th>
                    <th>Showroom</th>
                </tr>
                <tr>
                    <td class="schedule">8h30</td>
                    <td class="break" colspan="3">Accueil Caf&eacute;</td>
                </tr>
                <tr>
                    <td class="schedule">9h00</td>
                    <td colspan="3" class="conf">Keynote</td>
                </tr>
                <tr>
                    <td class="schedule">10h00</td>
                    <td class="break" colspan="3">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">10h15</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                    <td class="workshop" rowspan="3">Workshop</td>
                </tr>
                <tr>
                    <td class="schedule">11h00</td>
                    <td class="break" colspan="2">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">11h15</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                </tr>
                <tr>
                    <td class="schedule"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="schedule">12h00</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                </tr>
                <tr>
                    <td class="schedule">12h15</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                    <td class="quicky">Quicky</td>
                </tr>
                <tr>
                    <td class="schedule"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td class="schedule">13h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                    <td class="workshop" rowspan="3">Workshop</td>
                </tr>
                <tr>
                    <td class="schedule">13h45</td>
                    <td class="break" colspan="2">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">14h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                </tr>
                <tr>
                    <td class="schedule">14h45</td>
                    <td class="break" colspan="3">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">15h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                    <td class="workshop" rowspan="3">Workshop</td>
                </tr>
                <tr>
                    <td class="schedule">15h45</td>
                    <td class="break" colspan="2">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">16h00</td>
                    <td class="conf">Conference</td>
                    <td class="rex">Retour d'exp&eacute;rience</td>
                </tr>
                <tr>
                    <td class="schedule">16h45</td>
                    <td class="break" colspan="3">Pause</td>
                </tr>
                <tr>
                    <td class="schedule">9h00</td>
                    <td colspan="3" class="conf">Le mot de la fin</td>
                </tr>
            </table>
        </div>
    </div>
</section>