<footer class="footer section">
    <div class="container">
        <div class="row justify-content-center logo_footer">
            <div class="col-lg-8 text-center mt-2">
                <p><img src="{{ site.url }}/asset/images/logo_footer.png" alt="Volcamp" class="img-fluid logo-b"></p>
                <ul class="list-inline footer-socails">
                    <li class="list-inline-item"><a href="{{ site.syndication.twitter }}"><i class="icon-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="{{ site.syndication.linkedin }}"><i class="icon-linkedin-squared"></i></a></li>
                    <li class="list-inline-item"><a href="{{ site.syndication.github }}"><i class="icon-github-squared"></i></a></li>
                    <li class="list-inline-item"><a href="{{ site.syndication.youtube }}"><i class="icon-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 footer-text">
                <h3 class="text-white-50">à propos</h3>
                <ul>
                    <li>
                        <a href="{{ site.url }}/about/">À propos de Volcamp</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/coc/">Code de conduite</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/legal-mentions/">Mentions légales</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/contacts/">Contactez-nous</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 footer-text">
                <h3 class="text-white-50">Éditions précédentes</h3>
                <ul>
                    <li>
                        <a href="https://2023.volcamp.io" class="social" rel="noreferrer" target="_blank">Volcamp 2023</a>
                    </li>
                    <li>
                        <a href="https://2022.volcamp.io" class="social" rel="noreferrer" target="_blank">Volcamp 2022</a>
                    </li>
                    <li>
                        <a href="https://2021.volcamp.io" class="social" rel="noreferrer" target="_blank">Volcamp 2021</a>
                    </li>
                    <li>
                        <a href="https://2020.volcamp.io" class="social" rel="noreferrer" target="_blank">Volcamp 2020</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 footer-text">
                <h3 class="text-white-50">Réseau local</h3>
                <ul>
                    <li>
                        <a href="https://www.clermontech.org/" class="social" rel="noreferrer" target="_blank">Clermont'ech</a>
                    </li>
                    <li>
                        <a href="https://www.lavajug.org" class="social" rel="noreferrer" target="_blank">LavaJUG</a>
                    </li>
                    <li>
                        <a href="https://www.meetup.com/fr-FR/mtg-clermont-ferrand/" class="social" rel="noreferrer" target="_blank">MTG Clermont-Ferrand</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copy border-top pt-4 text-white-50 mb-0">
                    Made with <span style="color:red;">❤</span> in <img src="{{ site.url }}/asset/images/auvergne.png" alt="Auvergne" style="margin-bottom:4px;"> by <a href="{{ site.url }}/contacts/">Geek&amp;Terroir</a>. Copyright © Volcamp 2020 - <script>var year = (new Date()).getFullYear();document.write(year);</script>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ site.url }}/asset/js/jquery.js"></script>
<script src="{{ site.url }}/asset/js/bootstrap.js"></script>
<script src="{{ site.url }}/asset/js/syotimer.js"></script>
<script src="{{ site.url }}/asset/js/script.js"></script>
</body>

</html>