<footer>
    <div class="line">
        <div class="share">
			<div class="header">Partager</div>
            <ul class="footer-list">
                <li>
                    <a href="https://www.facebook.com/sharer.php?u=%2f" class="social" rel="noopener noreferrer" target="_blank">
                        <span class="visually-hidden">sur Facebook</span>
                    </a>	
                </li>
                <li">
                    <a href="https://twitter.com/share?url=%2f&amp;text=Regnoignez%20nous%20à%20Volcamp,%20la%20conférence%20au%20cœur%20des%20volcans%20d'Auvergne" class="social" rel="noopener noreferrer" target="_blank">
                        <span class="visually-hidden">sur Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
	    <div class="follow">
            <div class="header">Sur les réseaux</div>
            <ul class="footer-list">
                <li>
                    <a href="https://twitter.com/volcampio" class="social" rel="noreferrer" target="_blank">
                        twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/42349413/" class="social" rel="noreferrer" target="_blank">
                        linkedin
                    </a>
                </li>                    
            </ul>
        </div>
	    <div class="email">
            <div class="header">
                <a href="mailto:contact@volcamp.io">contact@volcamp.io</a>
            </div>
        </div>
    </div>
    <div class="line">
        <section>
            <div class="header">About</div>
            <ul>
                <li>
                    <a href="/coc/">
                        Code of conduct
                    </a>
                </li>
                <li>
                    <a href="/legal-mentions/">
                        Mentions legales
                    </a>
                </li>
            </ul>
        </section>
        <section>
            <div class="header">Réseau local</div>
            <ul>
                <li>
                    <a href="https://www.clermontech.org/" class="social" rel="noreferrer" target="_blank">
                        Clermont'ech
                    </a>
                </li>
                <li>
                    <a href="https://www.lavajug.org" class="social" rel="noreferrer" target="_blank">
                        LavaJUG
                    </a>
                </li>
                <li>
                    <a href="http://muginclermont.azurewebsites.net/#"  class="social" rel="noreferrer" target="_blank">
                        MugInClermont
                    </a>
                </li>
            </ul>
        </section>
        <section>
            <div class="header">Partenaires</div>
            <ul>
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        Partenaire Kit
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        Media Kit
                    </a>
                </li>
            </ul>
        </section>      
    </div>
    <div>
        <p>Made with ❤ by the <a href="/contacts/">Geek&amp;Terroir</a>. Copyright © volcamp.io <script>var year = (new Date()).getFullYear();document.write(year);</script>2020</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
    function makeTimer() {
        var endTime = new Date("15 October 2020");
        endTime = (Date.parse(endTime) / 1000);

        var now = new Date();
        now = (Date.parse(now) / 1000);

        var timeLeft = endTime - now;
        var days = Math.floor(timeLeft / 86400);
        $("#days").html("J-"+days );
    }
    setInterval(function() { makeTimer(); }, 1000);
</script>
</body>
</html>