<footer class="footer section">
    <div class="container">
        <div class="row justify-content-center logo_footer">
            <div class="col-lg-8 text-center mt-2">
                <p><img src="{{ site.baseurl }}/asset/images/logo_footer.png" alt="Volcamp" class="img-fluid logo-b"></p>
                <ul class="list-inline footer-socails">
                    <li class="list-inline-item"><a href="{{ site.syndication.twitter }}"><i class="icon-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="{{ site.syndication.linkedin }}"><i class="icon-linkedin-squared"></i></a></li>
                    <li class="list-inline-item"><a href="{{ site.syndication.github }}"><i class="icon-github-squared"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 footer-text">
                <h3 class="text-white-50">à propos</h3>
                <ul>
                    <li>
                        <a href="{{ site.baseurl }}/about/">
                            &Agrave; propos de Volcamp
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/coc/">
                            Code de conduite
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/legal-mentions/">
                            Mentions légales
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/contacts/">
                            Contactez-nous
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 footer-text">
                <h3 class="text-white-50">Réseau local</h3>
                <ul>
                    <li>
                        <a href="https://www.clermontech.org/" class="social" rel="noreferrer" target="_blank">
                        Clermont'ech
                    </a>
                    </li>
                    <li>
                        <a href="https://www.lavajug.org" class="social" rel="noreferrer" target="_blank">
                        LavaJUG
                    </a>
                    </li>
                    <li>
                        <a href="http://muginclermont.azurewebsites.net/#" class="social" rel="noreferrer" target="_blank">
                        MugInClermont
                    </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 footer-text">
                <h3 class="text-white-50">Partenaires</h3>
                <ul>
                    <li>
                        <a href="#" target="_blank" rel="noopener">
                            Kit sponsors
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener">
                            Kit média
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copy border-top pt-4 text-white-50 mb-0">
                    Made with <span style="color:red;">❤</span> in <img src="{{ site.baseurl }}/asset/images/auvergne.png" alt="Auvergne" style="margin-bottom:4px;"> by <a href="{{ site.baseurl }}/contacts/">Geek&amp;Terroir</a>. Copyright © Volcamp 2020 - <script>var year = (new Date()).getFullYear();document.write(year);</script>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ site.baseurl }}/asset/js/jquery.js"></script>
<script src="{{ site.baseurl }}/asset/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/asset/js/syotimer.js"></script>
</body>

</html>