<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1, user-scalable=yes">
    <meta name="Keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <meta property="og:image" content="{{ site.url }}/asset/images/logo.png">
    <meta name="twitter:image" content="{{ site.url }}/asset/images/logo.png">
    <meta name="twitter:title" content="{{ page.title }}">
    <!--link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml"-->

    <link rel="stylesheet" href="{{ site.url }}/asset/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.url }}/asset/css/style.css" media="screen">
    <link rel="stylesheet" href="{{ site.url }}/asset/css/fontello.css" media="screen">
    {% if page.custom_css %}
    <link rel="stylesheet" href="{{ site.url }}/{{ page.custom_css }}">
    {% endif %}
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/asset/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/asset/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/asset/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/asset/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ site.url }}/asset/images/favicon/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/asset/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{{ site.url }}/asset/images/favicon/browserconfig.xml">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>

<body>
    <header class="header-bar">
        <nav class="navbar navbar-expand-lg main-nav">
            <div class="container">
                <a class="navbar-brand" href="{{ site.url }}/"><img src="{{ site.url }}/asset/images/logo_volcamp.png" alt="Volcamp" class="img-fluid logo-b"></a>
                <button class="navbar-toggler menu-tel" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-menu"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navigation">
                    <ul class="navbar-nav mx-auto">
                        {% for link in site.navigation %}
                        <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="https://www.billetweb.fr/volcamp-2024" class="btn btn-secondary btn-rounded mt-3 mt-lg-0">Billetterie</a>
                </div>
            </div>
        </nav>
    </header>