<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1, user-scalable=yes"> 
    <meta name="Keywords" content="Volcamp, tech conference, conference, auvergne, clermont-fd">
    <meta name="description" content="La première conférence au cœur des volcans d'Auvergne faite pour les passionnés de technologie, de développement et de terroir. ">
    <meta name="author" content="{{ side.author }}">

    <meta property="og:image" content="/images/logo.png">
    <meta name="twitter:image" content="/images/logo.png">
    <meta name="twitter:title" content="{{ page.title }}">
    <!--link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml"-->

    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/fontello.css" media="screen">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/images/favicon/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{{ site.baseurl }}/images/favicon/browserconfig.xml">
</head>
<body>
    <header class="header-bar">
        <nav class="navbar navbar-expand-lg main-nav">
            <div class="container">
                <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo_volcamp.png" alt="Volcamp" class="img-fluid logo-b"></a>
                <button class="navbar-toggler menu-tel" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-menu"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navigation">
                    <ul class="navbar-nav mx-auto">
                        {% for link in site.navigation %}
                        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="btn btn-secondary btn-rounded mt-3 mt-lg-0">Get Ticket</a>
                </div>
            </div>
        </nav>
    </header>