<section class="section-speaker section">
    <div class="container">
        <div class="row section-heading">
            <div class="col-lg-8">
                <div class="heading"><span class="stroke-text">Nos Keynotes</span>
                    <div class="pl-90">
                        <h2>Les intervenants</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign speakers = site.speakers | where: "keynotes", true | sort_natural: 'name' %}
            {% for speaker in speakers %}
            <div class="col-lg-4 col-sm-6">
                <div class="speaker-block mb-5">
                    <div class="img-block"><img src="{{ site.baseurl }}/asset/images/speakers/{{ speaker.photo }}" alt="{{ speaker.name }}" class="img-fluid">
                        <ul class="list-inline speaker-social">
                            <li class="list-inline-item"><a href="/speakers/{{ speaker.url }}"><i class="icon-mic"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/{{ speaker.twitter }}"><i class="icon-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/{{ speaker.linkedin }}"><i class="icon-linkedin-squared"></i></a></li>
                        </ul>
                    </div>
                    <div class="speaker-info">
                        <h4 class="mb-0 mt-3">{{ speaker.name }}</h4>
                        <p>{{ speaker.abstract }}</p>
                    </div>
                </div>
            </div>
            {% else %}
                Rien à voir ici.
            {% endfor %}
        </div>
    </div>
</section>