<section class="cta-2 section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-img"><img src="{{ site.baseurl }}/images/hall32.jpg" alt="" class="img-fluid">
                    <div class="contact-info box-shadow">
                        <h5 class="text-uppercase letter-spacing mb-4">Lieu</h5>
                        <h6 class="text-color mb-3">15, 16 Octobre 2020</h6>
                        <p class="lead">Hall 32 - Clermont-fd<br>FRANCE</p><a href="{{ site.baseurl }}/location/"><i class="icon-location mr-2"></i>Venir sur place</a></div>
                </div>
            </div>
        </div>
    </div>
</section>