<section id="content">
    <div><h2>Nos sponsors</h2></div>
</section>

<section id="sponsorgold"><div>GOLD</div></section>
<section id="logo"><ul>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor[1].level == 'gold' %}
        <li><img src="images/logo/{{ sponsor[1].logo }}" alt="{{ sponsor[1].name }}"/></li>
        {% endif %}
    {% endfor %}
</ul></section>
<section id="sponsorsilver"><div>SILVER</div></section>
<section id="logo"><ul>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor[1].level == 'silver' %}
        <li><img src="images/logo/{{ sponsor[1].logo }}" alt="{{ sponsor[1].name }}"/></li>
        {% endif %}
    {% endfor %}
</ul></section>
<section id="sponsorbronze"><div>BRONZE</div></section>
<section id="logo"><ul>
    {% for sponsor in site.data.sponsors %}
        {% if sponsor[1].level == 'bronze' %}
        <li><img src="images/logo/{{ sponsor[1].logo }}" alt="{{ sponsor[1].name }}"/></li>
        {% endif %}
    {% endfor %}
</ul></section>