table {
  margin-top: 10px;
  margin-bottom: 50px;
  border-spacing: 10px;
  border-collapse: unset;
}

th, td {
  border-radius:10px;
  border-collapse: collapse;
  text-align: center;
  color: #444444;
}

.schedule {
  border: 0px;
  text-align: center;
  color: #9a9a93;
}

.break {
  background-color: #dbd8d8;
  color: #757575;
}
.break h3{color: #fff;}
.ptidej{
  background-image: url(/asset/images/ptidej.jpg);
  height: 180px;
  color: #fff;
}
.dej{
  background-image: url(/asset/images/dej.jpg);
  height: 180px;
  color: #fff;
}
.pause{
  background-image: url(/asset/images/pause.jpg);
  color: #fff;
}

.slot_info{
  border-radius: 0 0 10px 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 0.9em;
}
.slot_info ul{
  list-style: none;
  margin-top: 10px;
  padding-left: 4px;
}
.csched{width: 4%;}
.ctrack1, .ctrack2, .ctrack3, .ctrack3 {width: 24%;}

a.talk{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  text-decoration: none;
  color: #9a9a93;
  min-height: 270px;
}
a.talk:hover{
  text-decoration: none;
  color: #9a9a93;
}
a.ws_am{
  min-height: 645px;
}
a.ws_pm{
  min-height: 550px;
}
.legende{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  font-size: 0.9em;
}
.legend_item{
  display: flex;
  flex-wrap: wrap;
  font-size:1em;
}

.all_theme {
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
  min-height: 90px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
}

.theme_key {
  color: #572019;
  background-color: #fc5a45;
  border-color: #fc5a45;
}
.theme_lang {
  color: #57411e;
  background-color: #dca242;
  border-color: #dca242;
}
.theme_big {
  color: #244428;
  background-color: #89fa98;
  border-color: #89fa98;
}
.theme_web {
  color: #154e4c;
  background-color: #33bab5;
  border-color: #33bab5;
}
.theme_archi {
  color: #1f2e4b;
  background-color: #4b78cb;
  border-color: #4b78cb;
}
.theme_cloud {
  color: #2c0e27;
  background-color: #bf3fa7;
  border-color: #bf3fa7;
}
.theme_devops {
  color: #523f12;
  background-color: #ffe5a8;
  border-color: #ffe5a8;
}
.theme_ux {
  color: #503236;
  background-color: #ff94a4;
  border-color: #ff94a4;
}
.theme_decouv {
  color: #4d3b32;
  background-color: #af7e66;
  border-color: #af7e66;
}
.bullet{
  width: 1em;
  min-width: 1em;
  height: 1em;
  min-height: 1em;
  display: inline-block;
  border-radius: 100%;
  margin-right: 8px;
  margin-top: 4px;
  margin-left: 15px;
}
@media(max-width:767px) {
  .schedule, .csched{display: none;}
  .ctrack1, .ctrack2, .ctrack3 {width: 33%;}
  .slot_info{
    font-size: 0.6em;
  }
  .legend_item{
    font-size: 0.7em;
  }
  .all_theme {
    font-size: 0.7em;
    min-height: 110px;
  }
  a.ws_pm {
    min-height: 539px;
  }
}