table {
  margin-top: 10px;
  margin-bottom: 50px;
  border-spacing: 10px;
  border-collapse: unset;
}

th, td {
  border-radius:10px;
  border-collapse: collapse;
  text-align: center;
  color: #444444;
}

.schedule {
  border: 0px;
  text-align: center;
  color: #9a9a93;
}

.break {
  background-color: #dbd8d8;
  color: #757575;
}

.slot_info{
  border-radius: 0 0 10px 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 0.9em;
}
.slot_info ul{
  list-style: none;
  margin-top: 10px;
  padding-left: 4px;
}
.csched{width: 4%;}
.ctrack1, .ctrack2, .ctrack3 {width: 32%;}

a.talk{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  text-decoration: none;
  color: #9a9a93;
  min-height: 180px;
}
a.talk:hover{
  text-decoration: none;
  color: #9a9a93;
}
a.ws{
  min-height: 420px;
}
@media(max-width:767px) {
  .schedule, .csched{display: none;}
  .ctrack1, .ctrack2, .ctrack3 {width: 33%;}
  .slot_info{
    font-size: 0.7em;
  }
}